body {
        background-image: url('https://i.pinimg.com/736x/73/7d/e6/737de63b49d82e02bb59a5b7d82499b6.jpg?nii=t'); /* Replace with your image path */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        background-size: cover; /* Scales the image to cover the entire background */
        background-attachment: fixed; /* Fixes the background image during scrolling */
      }

.animate{
  font-family: Arial, sans-serif;
    font-size: 4em;
    text-align: center;
		animation: animate 5s linear;
		animation-iteration-count: infinite;
}

@keyframes animate{
		100%,0%{
			color: rgb(127,255,0);
		}
		20%{
			color: rgb(0,255,127);
		}
		80%{
			color: rgb(0,255,255);
