.animate{
  font-family: Arial, sans-serif;
    font-size: 4em;
    text-align: center;
		animation: animate 5s linear;
		animation-iteration-count: infinite;
}

@keyframes animate{
		100%,0%{
			color: rgb(127,255,0);
		}
		20%{
			color: rgb(0,255,127);
		}
		80%{
			color: rgb(0,255,255);
